.header-card  {
  margin-left: 0.625rem;
      margin-right: 0.625rem;
      display: flex;
      height: 5rem;
      width: 5rem;
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: rgb(243 246 246 / var(--tw-bg-opacity));
      --tw-gradient-from: #8452fa;
      --tw-gradient-to: rgb(250 82 82 / 0);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      --tw-gradient-to: #dd2496;
      font-family: Poppins, sans-serif;
      font-size: .8125rem;
      font-weight: 500;
      --tw-text-opacity: 1;
      color: rgb(68 86 108 / var(--tw-text-opacity));
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &.active {
     color: #ffffff;
    }
}
.resume-btn {
  background-color: rgb(243 246 246 / var(--tw-bg-opacity));
  --tw-gradient-from: #8452fa;
  --tw-gradient-to: rgb(250 82 82 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #dd2496;
}